<div *ngIf="isActive" [@active]="'true'" class="menu-item-background" style="width:20vw">
  <div class="menu-item-content">
    <select *ngIf="sessionService && sessionService.session.productReleases"
            [(ngModel)]="sessionService.session.selectedProductRelease">
      <option *ngFor="let release of sessionService.session.productReleases" [ngValue]="release">
        {{release.ProductReleaseVersion}}
      </option>
    </select> 
    <div class="menu-item-content" style="float:right;">
      <label>Add Product Release Version: </label><br>
      <input type="text" [(ngModel)]="productReleaseVersion" style="width:8vw;"/><br><br>
      <button (click)="onSave()">Save</button>
    </div>
  </div>
  
</div>
