.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    border: 1px solid black;
    opacity: 0;
    transition: opacity 0.25s linear;
    width: 200%;
    background-color: #ff9900;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    left: 100%;
    z-index: 500000;
    pointer-events: none;
}

.tooltip:hover .tooltiptext:not(:hover) {
    opacity: 1;
    border: 1px solid black;
}
